* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{background-color: aquamarine;}

.container {
  text-align: center;
}
a{
  color:rgb(10, 11, 105)
}

.container h1 {
  margin: 20px 0;
  color:peru
}
.img {
  margin-top: 20px;
}
p{
  width:70%;
  margin:20px auto;
  color: rgb(162, 6, 63);

}
.span{
  padding:5px 20px;
}
span{
  text-decoration: underline;
}
.ingredients{
  margin:30px 50px;
  text-align: left;
}
li{
  padding: 5px;
 
}
h3{
  border:3px dotted crimson;
  padding:5px;
  border-radius: 5px;
}